<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rent.mapper.DistrictsMapper">

    <!--根据id查询区县-->
    <select id="queryDistrictsById" parameterType="int" resultType="districts">
       select * from tbl_qx where qxid=#{id}
    </select>

    <select id="queryAllDistricts" resultType="districts">
        select * from tbl_qx
    </select>

</mapper>